* {
  margin: 0;
  padding: 0;
}

body {
  width: 30%;
  min-height: 100%;
  background-color: bisque;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Arial", "sans serif";
  gap: 15px;
  margin: 0 auto;
}

h1 {
  margin-top: 75px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

h1 {
  margin-bottom: 50px;
}


button {
  width: 200px;
  padding: 10px 0px;
  text-align: center;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
}

div {
  margin-bottom: 30px;
}

input {
  display: block;
  padding: 20px 100px 20px 30px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #000;
  margin-top: 15px;
  width: 100%;
}
.error{
  color: red;
  margin-top: 5px;
}