* {
  margin: 0;
  padding: 0;
}

body {
  width: 30%;
  min-height: 100%;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Arial", "sans serif";
  gap: 15px;
  margin: 0 auto;
  background-color: blanchedalmond;
}

h1 {
  margin-top: 75px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

h1 {
  margin-bottom: 50px;
}


button {
  width: 100px;
  margin: 0 auto;
  padding: 10px 0px;
  text-align: center;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 15px;
}

div {
  margin-bottom: 30px;
}

input {
  display: block;
  padding: 10px 100px 10px 20px;
  padding-left: 15px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #000;
  margin-top: 15px;
  width: 100%;
}

.error {
  color: red;
  margin-top: 5px;
}
.button-open{
  display: none;
}